html, body {
    position: relative;
    max-width: 1300px;
    width: 1300px;
    margin: 0;
    display: block;
    height: auto;
    font-family: 'Nanito Sans', Arial, Helvetica, sans-serif;
}

.conteiner {
    max-width: 1300px;
}

main {
    display: block;
    position: absolute;
    width: 1300px;
    top: 83px;
    left: 0;
}
/* body {
    display: block;
    justify-content:center;
    width: 1300px;
} */

.header {
    position: relative;
    height: 83px;
    background: #131313;
    font-family: "Nanito Sans", "Arial";
    font-size: 11px;
    display: flex;
    width: 1300px;
    justify-content: center;
    flex-direction: column;
}

.nav {
    display: inline-block;
    justify-content: space-between;
    height: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    padding-top: 12px;
    /* vertical-align: middle; */
}

.header_content {
    width: 1095px;
    position: absolute;
    top: 24px;
    bottom: 14px;
    left: 92px;
    right: 90px;
    height: 37px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* vertical-align: middle; */
    /* margin: 0, auto; */
}


.button_01 {
    color: #E3B873;
    padding: 0;
    display: inline-block;
    height:100%;
    width: 161px;
    left: 1187.0001220703125px;
    top: 24px;
    border-radius: 2px;
}

.button_02 {
    height: 51px;
    width: 207px;
    left: 134px;
    top: 531px;
    border-radius: 2px;
    background: #E3B873;
    color: #FFFFFF;
    position: absolute;
    top: 448px;
    left: 134px;
    margin-top: 41px;
}

.button_03 {
    height: 51px;
    width: 207px;
    left: 361.0000305175781px;
    top: 531px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    top: 448px;
    left: 361px;
    margin-top: 41px;
}

.header_text {
    color: #E3B873;
    margin-left: 20px;
    display: inline-block;
    font-family: "Nanito Sans", "Arial";
    height: 10px;
    top: 13px;
    bottom: 14px;
    text-align: center;
    padding-top: 12px;
}

section.main_block1 {
    background: rgba(0, 0, 0, 0.7);
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(https://s3-alpha-sig.figma.com/img/b08d/1b80/1322e77c0316c416f2e0373bae5eafc5?Expires=1665360000&Signature=LaYMwv-qJRrgkID68SKWY24uXsCW9ioBZfLGVY0lL9Ylm5phjHr8rqBJLWMf07pQ8Oc0LVBH889etlE4c2mqD2H7k689aIz6Hg9GQdbLBlbaCG8gpkJ3m8e-dY6GNV~I4EuPgIZEl9QxMxMaGWKjI4O9fYannKuyGJWxo8u6ZVPpwT~vbrEoRFzns7lqwQcfGeaZtkRhzXHdyj1vDHPdAOwbV3edtaVFV0L3K9G04hNxDg1eYzRTIMoLpMKgTAAfUhYn~nEqwqc6sP6ovtpnQE5puvCrMLt6TBQCGXfwUVYUvcbsFY8669OgRGvRdOtsy-BXJW7~K1J1NHafnC4MWQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    max-width: 1300px;
    height: 707px;
    position: relative;
    left: 0;
    top: 0;
    height: 707px;
    justify-content: center;
    }

.main_block1 img {
    width: 1300px;
    max-width: 1300px;
    position: relative;
    left: 0;
    top: 0;
    height: 707px;
}

.title1 {
    width: 676px;
    height: 105px;
    position: absolute;
    top: 192px;
    left: 134px;
    font-family: "Yeseva One", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;    
    color: rgba(255, 255, 255, 1) ;
    line-height: 53.13px;
}

.RoD {
    color: rgba(227, 184, 115, 1);
}

.main_block1 p {
    display: block;
    position: absolute;
    width: 504px;
    height: 89px;
    left: 134px;
    top: 318px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    margin-top: 19px;
    color: #FFFFFF;
}

section.main_block2 {
    display: block;
    position: absolute;
    top: 790px;
    left: 0;
    width: 1300px;
    height: 2540px;
    background-color: rgba(19, 19, 19, 1);
    margin-top: -83px;
    border: #131313;
}

.conteiner2 {
    position: relative;
    margin-top: 107px;
    max-width: 1032px;
    height: 553px;
    margin-left: 134px;
    margin-right: 134px;
    border: #FFFFFF solid;
}

.completed_projects {
    display: block;
    height: 552px;
    position: absolute;
    top: 107px;
    
}

.title2 {
    position: absolute;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.left_side {
    position: relative;
    top: 0;
    left: 0;
    width: 442px;
    height: 390px;
}

.completed_projects {
    position: relative;
    top: 0px;
}

.title2 {
    margin-top: 69px;
    display: block;
    width: 253px;
    height: 66px;
}

.p2 {
    position: relative;
    display: inline-block;
    width: 442px;
    height: 86px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26.73px;
    color: #FFFFFF;
    margin-top: 169px;
}

.completed_projects h2 {
    position:relative;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;

}

.p3 {
    position: absolute;
    margin-top: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21.28px;
}

.conteiner2 #G218 {
    position: absolute;
    left: 1px;
    bottom: 6px;
}